.loginWrapper{
  min-height: 100vh;
  border: 5em solid #111111;
  background: url('../img/programmingHero.png');
  background-size: cover;  
}

.loginTitleWrapper{
  background-color: rgba(255, 255, 255, 0.65);
  padding: 3em;
  color: #111111;
  /*border: 5px solid #ff7675;*/
}

.loginTitleWrapper h1{
  font-family: 'Lobster';
  font-size: 7.2em;
  margin-bottom: 1em;
  text-shadow: 3px 3px #f8f8ff;
}

.loginTitleWrapper p{
  font-family: 'Noto Sans TC';
  font-size: 3em;
  font-weight: bold;
}

.loginInfoWrapper{
  background-color: rgba(33, 33, 33, 0.85);
  color: #f8f8ff;
  padding: 3em;
  font-family: 'Noto Sans TC';
  /*border: 5px solid #ff7675;
  border-left: none;*/
}

.loginInfoWrapper hr{
  border-top: 2px solid #f8f8ff;
}

.loginInfoWrapper label{
  font-size: 1.5em;
}

.loginInfoWrapper input{
  margin-bottom: 1em;
  padding: 0.25em;
  font-family: 'Noto Sans TC';
  border-radius: 0.25em;
  border: none;
}

.loginInfoWrapper p{
  font-family: 'Noto Sans TC';
  margin-top: 3em;
}

.loggedInWrapper{
  background-color: #f8f8ff;
  display: none;
  height: 100vh;
  font-family: 'Noto Sans TC';
}

#loginSubmit, #submitScore{
  padding: .5em 0.75em;
  font-size: 1.2em;
  font-family: 'Noto Sans TC';
  border-radius: 0.25em;
  border: 2px solid #111111;
  background-color: #3498db;
  color: #f8f8ff;
}

#loginSubmit:hover, #submitScore:hover{
  background-color: #3498db;
  color: #f8f8ff;
  border: 2px solid #f8f8ff;
  font-weight: bold;
}
 
.loggedInTitleWrapper{
  background-color: #f8f8ff; 
  padding: 1em;
}

.loggedInTitleWrapper h1{
  font-family: 'Lobster';
  font-size: 3.5em;
  text-shadow: 2px 2px #3498db;
}

.userInformationWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userInformationWrapper p{
  margin: 0;
  font-size: 1.5em;
}

#logoutSubmit{
  padding: .5em 0.75em;
  font-size: 1.2em;
  border-radius: 0.25em;
  color: #f8f8ff;
  border: 2px solid #3498db;
  background-color: #111111;
  margin-left: 1em
}

#logoutSubmit:hover{
  background-color: #3498db;
  color: #f8f8ff;
  border: 2px solid #111111;
  font-weight: bold;
}

nav{
  background-color: #111111;
  border-bottom: 2px solid #3498db;
  border-top: 2px solid #3498db;
}

.navList{
  color: #f8f8ff;
  background-color: #111111;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 2em;
}

.navList li{
  margin-right: 1.5em;
  font-size: 1.5em;
}

.navList li a{
  padding: 0.65em;
  display: block;
  color: #f8f8ff;
}

.navList li a:hover{
  text-decoration: none;
  background-color: #333333;
}

.loggedInContentWrapper{
  padding: 2em;
  font-family: 'Noto Sans TC';
  background-color: #f8f8ff;
}

#questionForm input, #questionForm select{
  max-width: 400px;
}

.outputWrapper{
  display: none;
}

.outputOption{
  margin-top: 2em;
  padding: 4em;
  display: none;
  border: 2px solid #111111;
  border-radius: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputOption h2{
  font-size: 7.5em;
  font-family: 'Lobster';
  text-shadow: 3px 3px #3498db;
}

.outputRuby{
  background-color:#34495e;
}

.outputCSharp{
  background-color:#2c3e50;
}

.outputJavaScript{
  background-color:#c0392b;
}

.outputGo{
  background-color:#0a3d62;
}

.outputPython{
  background-color:#1e3799;
}

.outputRust{
  background-color:#6D214F;
}

.outputSwift{
  background-color:#2c3e50;
}

footer{
  background-color: #111111;
  color: #fff;
  height: 75px;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid #3498db;
}

footer p{
  margin: 0;
}

/*Overriding Bootstrap CSS*/

.row{
  margin: 0;
}